<div class="custom-fields-section v2">
  
    {% if resource_type == "products" %}
    <div class="custom-fields-section__products">
      {% for block in blocks %}
      {% if block.type contains "cf_" %}
      <div {{ block.shopify_attributes }} class="custom-fields-section__item
                  custom-fields-section__item--{{ block.type }}
                  custom-fields-section__item--{{ block.type }}--{{ block.settings.key }}
                  {% if block.settings.cols != blank %}{{ "cf-width-" | append: block.settings.cols | append: "-of-12" }}{% else %}cf-width-12-of-12{% endif %}">
        {% case block.settings.key %}
                  {% when "custom_fields.additiobal_information" %}
            {% render "custom_fields.products.additiobal_information", block:block %}
        
        {% endcase %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  
    {% if resource_type == "blogs" %}
    <div class="custom-fields-section__blogs">
      {% for block in blocks %}
      {% if block.type contains "cf_" %}
      <div {{ block.shopify_attributes }} class="custom-fields-section__item
                  custom-fields-section__item--{{ block.type }}
                  custom-fields-section__item--{{ block.type }}--{{ block.settings.key }}
                  {% if block.settings.cols != blank %}{{ "cf-width-" | append: block.settings.cols | append: "-of-12" }}{% else %}cf-width-12-of-12{% endif %}">
        {% case block.settings.key %}
                  {% when "custom_fields.blog_banner_image" %}
            {% render "custom_fields.blogs.blog_banner_image", block:block %}
        
        {% endcase %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  
    {% if resource_type == "articles" %}
    <div class="custom-fields-section__articles">
      {% for block in blocks %}
      {% if block.type contains "cf_" %}
      <div {{ block.shopify_attributes }} class="custom-fields-section__item
                  custom-fields-section__item--{{ block.type }}
                  custom-fields-section__item--{{ block.type }}--{{ block.settings.key }}
                  {% if block.settings.cols != blank %}{{ "cf-width-" | append: block.settings.cols | append: "-of-12" }}{% else %}cf-width-12-of-12{% endif %}">
        {% case block.settings.key %}
                  {% when "custom_fields.banner_image" %}
            {% render "custom_fields.articles.banner_image", block:block %}
        
        {% endcase %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  
</div>
