{%- if product.featured_media.media_type == "video" -%}
  {%- assign figure_classes = 'video ' -%}
  {%- assign image_classes = 'video-overlay' -%}
{%- else if product.featured_media.media_type == "image" -%}
  {%- assign figure_classes = 'has-image ' -%}
  {%- assign image_classes = '' -%}
{%- endif -%}
<div class="col-lg-4 col-md-6 column single-product">
  <div class="figure1 {{ figure_classes }}">
    <a href="{{ product.url }}">
    {%- if product.featured_media.media_type == "video" -%}
      <img
        class="w-100 {{ image_classes }}"
        src="{{ product.featured_image | img_url: 'master' }}"
        alt="img">
      {{ product.featured_media | video_tag: controls: false, autoplay: true, loop: true, class:'w-100' }}
    {%- else if product.featured_media.media_type == "image" -%}
      <img
        class="w-100 {{ image_classes }}"
        src="{{ product.featured_media | img_url: 'master' }}"
        alt="img">
    {%- endif -%}
    </a>
    <span class="hover">
      <a href="#" class="btn btn-outline-primary bg-color1 btn-sm add-to-cart" data-product-id="{{ product.variants.first.id }}">Add to cart</a>
    </span>
  </div>
  <div class="content">
    <h3 class="h4">
      <a href="{{ product.url }}">{{ product.title }}</a>
    </h3>
    <p class="price">{{ product.price | money }}</p>
    {%- for tag in product.tags -%}
      {% if tag == 'skillet' and template != 'index' %}
        <span class="badge bg-primary-color4">
          <i class="icon"><img src="{{ 'skillet.svg' | asset_url  }}" alt="icon"></i>
          Includes Skillet
        </span>
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>