{%- assign figure_class = '' %}
{%- if product.featured_media.media_type == "video" -%}
  {%- assign figure_classes = 'video ' -%}
  {%- assign image_classes = 'video-overlay' -%}
{%- else if product.featured_media.media_type == "image" -%}
  {%- assign figure_classes = 'has-image ' -%}
  {%- assign image_classes = '' -%}
{%- endif -%}
<div class="col-xl-3 col-lg-4 col-md-6 column single-product snippets-product-card">
  <div class="figure1 {{ figure_classes }}">
    <a href="{{ product.url }}">
    {%- if product.featured_media.media_type == "video" -%}
      <img
        class="w-100 {{ image_classes }}"
        src="{{ product.featured_image | img_url: 'master' }}"
        alt="img">
      {{ product.featured_media | video_tag: controls: false, autoplay: true, loop: true, class: 'w-100' }}
    {%- else if product.featured_media.media_type == "image" -%}
      <img
        class="w-100 {{ image_classes }}"
        src="{{ product.featured_media | img_url: 'master' }}"
        alt="img">
    {%- endif -%}
    </a>
    <span class="hover">
      <form
        action="/cart/add"
        method="post"
        id="product-form- {{ product.id }}">
        <input
          type="hidden"
          name="id"
          value="{{ product.variants.first.id }}">
        <div>
          <button
            type="submit"
            class="btn btn-outline-primary bg-color1 btn-sm add-to-cart"
            name="add" data-product-id="{{ product.variants.first.id }}">Add to cart</button>
        </div>
      </form>
      {% comment %} <a href="#" class="btn btn-outline-primary bg-color1 btn-sm">Add to cart</a> {% endcomment %}
    </span>
  </div>
  <div class="content">
    <h4>
      <a href="{{ product.url }}">{{ product.title }}</a>
    </h4>
    <p class="price">{{ product.price | money }}</p>
  </div>
</div>