{% if customer %}
  {% if customer.id %}
    {% if customer.logged_in %}
      {% if request.path contains '/account/login' %}
        {% assign account_page_url = '/account' %}
        <script>
          console.log("{{ account_page_url }}");
          window.location.href = "{{ account_page_url }}";
        </script>
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}
<!-- content -->
<div id="content">
  <!-- section -->
  <div class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5 col-xl-4">
          <div class="form" id="CustomerLoginForm">
            <h1 class="h4 text-center mb-4 mb-md-5">Login</h1>
            <div class="note form-success" id="ResetSuccess"> We've sent you an email with a link to update your password. </div>
            {% form 'customer_login' %}
              {{ form.errors | default_errors }}
              <div class="row">
                <div class="col-12 form-group">
                  <input type="email" name="customer[email]" placeholder="Email" class="form-control">
                </div>
                <div class="col-12 form-group">
                  <input
                    type="password"
                    name="customer[password]"
                    id="customer_password"
                    placeholder="Password"
                    class="form-control"
                  >
                </div>
                <div class="col-12 form-group">
                  <button type="submit" class="btn btn-primary w-100">SIGN IN</button>
                </div>
                <div class="col-12 text-center pt-3">
                  <p><a href="/account/register">Create Account</a></p>
                  <p><a href="{{ shop.url }}">Return to Store</a></p>
                  <p><a href="#" id="RecoverPassword">Forgot your password?</a></p>
                  <p><a href="#">Manage subscriptions</a></p>
                </div>
              </div>
            {%- endform -%}
          </div>
          <div class="form" id="RecoverPasswordForm">
            <div class="text-center mb-4 mb-md-5">
              <h2 class="h4 mb-2">Reset your password</h2>
              <p>We will send you an email to reset your password.</p>
            </div>
            {%- form 'recover_customer_password', id: 'recover_customer_password' -%}
              {{ form.errors | default_errors }}
              <div class="row">
                <input type="hidden" name="reset_password_sent" value="true" />
                <div class="col-12 form-group">
                  <input type="email" placeholder="Email" name="email" id="recover-email" class="form-control">
                </div>
                <div class="col-12 form-group">
                  <button type="submit" class="btn btn-primary w-100">SUBMIT</button>
                </div>
                <div class="col-12 text-center pt-3">
                  <button type="button" id="HideRecoverPasswordLink">Cancel</button>
                </div>
              </div>
            {%- endform -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /section -->
</div>
<!-- /content -->
