<!doctype html>
<html class="">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Page Title -->
    {%- if request.path == '/' -%}
      <title>Home | My Cookie Dough</title>
    {%- else -%}
      <title>{{ page_title }} | My Cookie Dough</title>
    {%- endif -%}
    <!-- Stylesheets -->
    {{ 'bootstrap.css' | asset_url | stylesheet_tag }}
    {{ 'owl.carousel-min.css' | asset_url | stylesheet_tag }}
    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'jquery-ui.css' | asset_url | stylesheet_tag }}
    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ 'fontawesome-webfont.css' | asset_url | stylesheet_tag }}

    <!-- Javascript -->
    {{ 'head.core.js' | asset_url | script_tag }}
    {{ 'lt-ie-9.js' | asset_url | script_tag }}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ content_for_header }}
  </head>
  {%- assign body_class = '' -%}
  {%- comment -%} use this to change bg related class {%- endcomment -%}
  {%- if template.suffix == 'store-menu' -%}
    {%- assign body_class = body_class | append: 'bg-primary-light ' -%}
  {%- elsif template == 'product' or template == 'cart' -%}
    {%- assign body_class = body_class | append: 'bg-color2 ' -%}
  {%- else -%}
    {%- assign body_class = body_class | append: 'bg-color1 ' -%}
  {%- endif -%}
  {%- comment -%} use this to change bg related class {%- endcomment -%}
  {%- comment -%} use this to add extra class to body_class variable {%- endcomment -%}
  {%- if template == 'index' -%}
    {%- assign body_class = body_class | append: 'home ' -%}
  {%- endif - -%}
  {%- comment -%} use this to add extra class to body_class variable {%- endcomment -%}
  {%- comment -%} Use this to add/change layout related class {%- endcomment -%}
  {%- if template == 'blog' or template.suffix == 'corporate' or template == 'article' or template == 'index' or template.suffix == 'our-story' -%}
    {%- assign body_class = body_class | append: 'layout1' -%}
  {% elsif template.suffix == 'jobs' %}
    {%- assign body_class = body_class | append: 'layout3' -%}
    {% else %}
    {%- assign body_class = body_class | append: '' -%}
  {%- endif -%}
  {%- comment -%} Use this to add/change layout related class {%- endcomment -%}
  <body class="{{ body_class }}">
    <!-- <h2>{{ template }}</h2> remove when dvelopment is done-->
    <!-- container -->
      <div id="container"> {%- section 'header' -%}
      <div id="content">
          {{ content_for_layout }}
        </div>
        {%- section 'footer' -%}
      </div>

      <!-- Footer Javascript --> 
      {{ 'jquery.js' | asset_url | script_tag }}
      {{ 'popper.js' | asset_url | script_tag }}
      {{ 'bootstrap.js' | asset_url | script_tag }}
      {{ 'ofi.browser.js' | asset_url | script_tag }}
      {{ 'rwd-image-maps.js' | asset_url | script_tag }}
      {{ 'owl.carousel-min.js' | asset_url | script_tag }}
      {{ 'slick.min.js' | asset_url | script_tag }}
      {{ 'skrollr.js' | asset_url | script_tag }}
      {{ 'jquery-ui.js' | asset_url | script_tag }}
      {{ 'circletype.js' | asset_url | script_tag }}
      <script src="https://cdn.shopify.com/shopifycloud/storefront-recaptcha-v3/v0.6/index.js"></script>
    <script src="https://www.recaptcha.net/recaptcha/api.js?onload=storefrontContactFormsRecaptchaCallback&amp;render=6Ld019klAAAAACRImtqm4e5uhwHTk-qPJ0aMDPCM&amp;hl=en"></script>
      {{ 'add-to-cart.js' | asset_url | script_tag }}
      {{ 'main.js' | asset_url | script_tag }}</body>
  </body>
</html>