<!-- section -->
<div class="section contact-us relative overflow-hidden">
  <div class="container relative">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row justify-content-center mb-4 text-center">
          <div class="col-lg-8">
            <h2>{{ section.settings.get-in-touch-title }}
            </h2>
            {{ section.settings.get-in-touch-content }}
          </div>
        </div>
        <div class="form">
          {%- assign formId = 'get-in-touch' -%}
          {%- form 'contact', id: formId -%}
            {{ form.errors | default_errors }}
            <div class="row">
              <div class="col-md-6 form-group">
                <input
                  type="text"
                  placeholder="Name"
                  class="form-control"
                  id="{{ formId }}-name"
                  name="contact[name]"
                  value="{%- if from[name] -%}{{ form[name] }}{%- endif -%}">
              </div>
              <div class="col-md-6 form-group">
                <input
                  type="email"
                  placeholder="Email"
                  class="form-control"
                  name="contact[email]"
                  value="{%- if from[email] -%}{{ form[email] }}{%- endif -%}">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <input
                  type="tel"
                  placeholder="Phone Number"
                  class="form-control"
                  name="contact[phone]"
                  value="{%- if from[phone] -%}{{ form[phone] }}{%- endif -%}">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <textarea
                  placeholder="Message"
                  class="form-control"
                  name="contact[body]"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <button type="submit" class="btn btn-primary w-100">{{ section.settings.btn-label }}</button>
              </div>
            </div>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /section -->
{%- schema -%}
  {
    "name": "Contact",
    "settings": [
      {
        "type": "text",
        "id": "get-in-touch-title",
        "label": "Title",
        "default": "GET IN TOUCH"
      }, {
        "type": "richtext",
        "id": "get-in-touch-content",
        "label": "Content"
      }, {
        "type": "text",
        "id": "btn-label",
        "label": "Button Label",
        "default": "Send Enquiry"
      }
    ]
  }
{%- endschema -%}