        <!-- section -->
        <div class="section contact-us relative overflow-hidden">
            <div class="container relative">
              <div class="row justify-content-center">
                <div class="col-md-10">
                  <div class="row justify-content-center mb-4 text-center">
                    <div class="col-lg-8">
                      <h2>{{ section.settings.get-in-touch-title }} </h2>
                      {{ section.settings.get-in-touch-content }}
                    </div>
                  </div>
                  <div class="form">
                    {%  assign formId = 'ContactForm' %}
                    {% form 'contact', id: formId %}
                     {% comment %} {% include 'form-status', form_id: fromId %} {% endcomment %}
<!--                     <form action="#"> -->
                      <div class="row">
                        <div class="col-md-6 form-group">
                          <input type="text" placeholder="Name" class="form-control" id="{{ formId }}-name" name="contact[name]" value="{% if from[name] %}{{ form[name] }}{% endif %}">
                        </div>
                        <div class="col-md-6 form-group">
                          <input type="text" placeholder="Business Name" class="form-control">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 form-group">
                          <input type="tel" placeholder="Phone Number" class="form-control">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 form-group">
                          <textarea placeholder="Message" class="form-control"></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 form-group">
                          <button type="submit" class="btn btn-primary w-100">{{ section.settings.btn-label }}</button>
                        </div>
                      </div>
<!--                     </form> -->
                    {% endform %}

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /section -->
{% schema %}
{
    "name": "Contact",
    "settings": [
        {
            "type": "text",
            "id": "get-in-touch-title",
            "label": "Title",
            "default": "GET IN TOUCH"
        },
        {
            "type": "richtext",
            "id": "get-in-touch-content",
            "label": "Content"
        },
        {
            "type": "text",
            "id": "btn-label",
            "label": "Button Label",
            "default": "Send Enquiry"
        }
    ]
}
{% endschema %}