<!-- footer -->
      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 column text-center text-lg-start">
              <div class="logos">
                <a href="/">
                  <img src="{{ 'logo.svg' | asset_url }}" alt="logo">
                </a>
                <a href="#">
                  <img src="{{ 'logo2.svg' | asset_url }}" alt="logo">
                </a>
              </div>
              <h5>{{ section.settings.newsletter-heading }}</h5>
              <div class="form email-form">
                {% form 'customer' %}
                  <input type="email" name="contact[email]" class="form-control" placeholder="Email">
                  <input type="submit" class="btn btn-outline-primary" value="{{ section.settings.newsletter-button-label }}">
                {% endform %}
              </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-8 ms-auto">
              <div class="row">
                <div class="col-md-6 column">
                  <h6>SHOP</h6>
                  <ul class="footer-navigation">
					{% for link in section.settings.shop-menu.links %}
                    	<li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="col-md-6 column">
                  <h6>CUSTOMER</h6>
                  <ul class="footer-navigation">
					{% for link in section.settings.customer-menu.links %}
                    	<li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 column">
              <ul class="sociables alt">
                <li class="fb">
                  <a href="{{ section.settings.facebook-url }}">
                    <img src="{{ 'fb.svg' | asset_url }}" alt="fb-icon">
                  </a>
                </li>
                <li class="twitter">
                  <a href="{{ section.settings.twitter-url }}">
                    <img src="{{ 'twitter.svg' | asset_url }}" alt="twitter-icon">
                  </a>
                </li>
                <li class="insta">
                  <a href="{{ section.settings.instagram-url }}">
                    <img src="{{ 'insta.svg' | asset_url }}" alt="insta-icon">
                  </a>
                </li>
                <li class="tiktok">
                  <a href="{{ section.settings.tiktok-url }}">
                    <img src="{{ 'tiktok.svg' | asset_url }}" alt="tiktok-icon">
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <footer>
            <div class="row">
              <div class="col-lg-5 col-md-7 order-lg-2">
                <ul class="policies">
                  {% for link in section.settings.policies-menu.links %}
                    	<li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-lg-5 col-md-5 order-lg-1">
                <p class="copyright">{{ section.settings.copyright-title }}</p>
              </div>
              <div class="col-lg-2 col-md-12 order-lg-3 text-lg-end">
                <p>Site by <a href="#"><img src="{{ 'newphew-logo.svg' | asset_url }}" alt="logo"></a></p>
              </div>
            </div>
          </footer>
        </div>
      </div>
<!-- /footer -->


{% schema %}
  {
    "name": "Footer",
    "settings": [
		{
          "type": "header",
          "content": "Newsletter"
        },
		{
          "id": "newsletter-heading",
          "type": "text",
          "label": "Heading",
          "default": "Subscribe to our newsletter"
      	},
      	{
          "id": "newsletter-button-label",
          "type": "text",
          "label": "Button Label",
          "default": "Submit"
      	},
		{
          "type": "header",
          "content": "Menus"
        },
		{
		  "id": "shop-menu",
		   "type": "link_list",
	 	   "label": "Shop"
		},
		{
		  "id": "customer-menu",
		   "type": "link_list",
	 	   "label": "Customer"
		},
		{
		  "id": "policies-menu",
		   "type": "link_list",
	 	   "label": "Policies"
		},
		{
          "type": "header",
          "content": "Social Links"
        },
		{
          "id": "facebook-url",
          "type": "text",
          "label": "Facebook"
      	},
      	{
          "id": "twitter-url",
          "type": "text",
          "label": "Twitter"
      	},
		{
          "id": "instagram-url",
          "type": "text",
          "label": "Instagram"
      	},
      	{
          "id": "tiktok-url",
          "type": "text",
          "label": "Tik Tok"
      	},
		{
          "type": "header",
          "content": "Copyright"
        },
		{
		  "id": "copyright-title",
		  "type": "text",
	  	  "label": "Title",
		  "default": "© 2022, MyCookieDough. All rights reserved."
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}