<!-- header -->
      <header id="header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-4 col-4">
              <a href="#" class="menu-btn">
                <span class="title"></span>
              </a>
            </div>
            <div class="col-md-4 col-4 text-center">
              <div class="logo">
                <a href="/">
                  <img src="{{ 'logo.svg' | asset_url }}" alt="logo">
                </a>
              </div>
            </div>
            <div class="col-md-4 col-4 text-end">
              <div id="user-options">
                <li>
                  <a href="#">login</a>
                </li>
                <li>
                  <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Group_8" data-name="Group 8" width="32.061" height="32.063" viewBox="0 0 32.061 32.063">
                      <defs>
                        <clipPath id="clip-path">
                          <rect id="Rectangle_4" data-name="Rectangle 4" width="32.061" height="32.063" fill="#672567" />
                        </clipPath>
                      </defs>
                      <g id="Group_7" data-name="Group 7" clip-path="url(#clip-path)">
                        <path id="Path_13" data-name="Path 13" d="M0,16.085A16.03,16.03,0,1,1,15.961,32.062,16.044,16.044,0,0,1,0,16.085m30.774-.028a14.749,14.749,0,1,0-14.78,14.727,14.777,14.777,0,0,0,14.78-14.727" transform="translate(0 0)" fill="#672567" />
                        <path id="Path_14" data-name="Path 14" d="M80.263,131.316a3,3,0,0,1-1.921,2.551.621.621,0,0,0-.434.561c-.052.864-.117,1.727-.142,2.592a1.687,1.687,0,0,1-1.911,1.7,1.73,1.73,0,0,1-1.4-2.043c.06-.588,0-1.189.006-1.783.006-.429-.252-.571-.616-.655-.711-.163-1.431-.306-2.122-.532a13.262,13.262,0,0,1-4.19-2.207,3.072,3.072,0,0,1-1.345-2.178,2.025,2.025,0,0,1,2.237-2.273,17.237,17.237,0,0,1,2.631.374,20,20,0,0,0,4.135.314,7.916,7.916,0,0,1,2.865.339,3.4,3.4,0,0,1,2.212,3.245m-2.285,1.313a1.78,1.78,0,0,0,.994-1.451,1.751,1.751,0,0,0-.883-1.641,4.109,4.109,0,0,0-2.5-.521,22.7,22.7,0,0,1-5.568-.493,7.558,7.558,0,0,0-1.7-.19.83.83,0,0,0-.71,1.334,2.551,2.551,0,0,0,.276.379,7.367,7.367,0,0,0,2.037,1.482.352.352,0,0,0,.447,0,5.749,5.749,0,0,1,4.134-1,4.4,4.4,0,0,1,3.478,2.1m-6.351-.366-.013.107c.789.193,1.576.4,2.368.577.757.174,1.448.446,1.655,1.288a6.777,6.777,0,0,1,.164,1.406c.014.471-.067.944-.055,1.415a.529.529,0,0,0,.3.363c.215.086.364-.077.416-.282a1.425,1.425,0,0,0,.013-.4,10.436,10.436,0,0,1,.3-3.083.766.766,0,0,0-.2-.794,3.392,3.392,0,0,0-.346-.322,4.034,4.034,0,0,0-2.8-.747,4.157,4.157,0,0,0-1.793.476" transform="translate(-57.199 -109.808)" fill="#672567" />
                        <path id="Path_15" data-name="Path 15" d="M147.4,55.022a6.828,6.828,0,0,1,3.81,1.536c.225.187.444.381.652.586a.723.723,0,0,1,.128,1.046.792.792,0,0,1-1.141-.086,10.245,10.245,0,0,0-1.088-.894,4.817,4.817,0,0,0-2.266-.8c-.1-.011-.2-.017-.3-.032a.678.678,0,0,1-.668-.766c.041-.383.353-.616.876-.593" transform="translate(-126.642 -47.556)" fill="#672567" />
                        <path id="Path_16" data-name="Path 16" d="M47.589,57.662a3.307,3.307,0,0,1,.351-.567A7.017,7.017,0,0,1,52.5,54.938a.7.7,0,0,1,.8.566.674.674,0,0,1-.6.789c-.672.162-1.359.284-2.011.509a3.961,3.961,0,0,0-1.618,1.124c-.391.429-.791.535-1.109.26a2.682,2.682,0,0,1-.368-.524" transform="translate(-41.133 -47.482)" fill="#672567" />
                        <path id="Path_17" data-name="Path 17" d="M138.949,89.29a6.167,6.167,0,0,1,2.714.581.669.669,0,0,1,.379.805.645.645,0,0,1-.768.494,3.269,3.269,0,0,1-.572-.2,4.456,4.456,0,0,0-1.948-.308c-.595.039-.961-.211-.981-.669a.686.686,0,0,1,.669-.7,4.668,4.668,0,0,1,.506,0" transform="translate(-119.081 -77.171)" fill="#672567" />
                        <path id="Path_18" data-name="Path 18" d="M70.279,88.636a5.416,5.416,0,0,1,.919.32c.258.143.245.445.167.7a.573.573,0,0,1-.548.427,7.884,7.884,0,0,0-1.039.043,14.687,14.687,0,0,0-1.619.415c-.469.146-.827.06-.981-.295a.681.681,0,0,1,.433-.968,7.546,7.546,0,0,1,2.669-.644" transform="translate(-57.999 -76.611)" fill="#672567" />
                      </g>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="cart">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Group_6" data-name="Group 6" width="33.5" height="31.394" viewBox="0 0 33.5 31.394">
                      <defs>
                        <clipPath id="clip-path">
                          <rect id="Rectangle_3" data-name="Rectangle 3" width="33.5" height="31.394" fill="#672567" />
                        </clipPath>
                      </defs>
                      <g id="Group_5" data-name="Group 5" clip-path="url(#clip-path)">
                        <path id="Path_1" data-name="Path 1" d="M0,18.011a15.174,15.174,0,0,1,.9-5.088A22.353,22.353,0,0,1,4.956,5.265a14.821,14.821,0,0,1,9.8-5.208,7.913,7.913,0,0,1,5.749,1.595A1.991,1.991,0,0,1,21.4,3.4a1.335,1.335,0,0,0,.792,1.308A31.606,31.606,0,0,1,24.8,6.493a2.672,2.672,0,0,0,1.625.6c.522,0,1.045-.019,1.565-.056A2.878,2.878,0,0,1,30.429,8a9.277,9.277,0,0,1,2.5,5.531c.134,1.183.344,2.358.5,3.539a7.722,7.722,0,0,1-1.656,6.056A19.667,19.667,0,0,1,26.078,28.2a22.568,22.568,0,0,1-6.8,2.47c-1.3.254-2.606.483-3.911.712a.978.978,0,0,1-.471-.037c-1.036-.362-2.064-.745-3.1-1.107a16.958,16.958,0,0,0-2.172-.707,9.5,9.5,0,0,1-5.786-3.5c-.769-.978-1.565-1.94-2.27-2.964A8.792,8.792,0,0,1,0,18.011M12.533,5.3a1.436,1.436,0,0,1-2.319-.874q-.151-.686-.344-1.361a.356.356,0,0,0-.588-.194c-.219.154-.42.333-.639.488A16.77,16.77,0,0,0,4.026,8.279,20.107,20.107,0,0,0,1.1,17a8.685,8.685,0,0,0,.63,4.291,13.958,13.958,0,0,0,2.839,3.918,9.65,9.65,0,0,0,6.362,3.406,1.655,1.655,0,0,0,1.187-.362,3.95,3.95,0,0,1,1.2-.7,11.314,11.314,0,0,1,1.9-.253,1.224,1.224,0,0,1,1.269.665,9.278,9.278,0,0,0,.8,1.247.972.972,0,0,0,.688.382,23.614,23.614,0,0,0,3.437-.577,18.285,18.285,0,0,0,9.524-6.513,5.826,5.826,0,0,0,1.339-2.878,17.751,17.751,0,0,0-.185-5.362,9.728,9.728,0,0,0-2.445-5.526c-.605-.6-.849-.569-1.3.148a8.048,8.048,0,0,1-1.307,1.6c-.512.475-.9.359-1.27-.232-.351-.567-.7-1.135-1.038-1.712a.748.748,0,0,0-.81-.375,1.287,1.287,0,0,1-.752-.121,9.9,9.9,0,0,1-1.048-.877c-.343.23-.726.527-1.146.758a1.237,1.237,0,0,1-1.264.111c-.4-.245-.338-.724-.344-1.135a2.043,2.043,0,0,1,.078-.475q.161-.7.332-1.406a5.819,5.819,0,0,0-.033-2.316c-.155.19-.23.3-.324.394a4.874,4.874,0,0,1-2.21,1.332,1.012,1.012,0,0,1-1.234-.407,4.776,4.776,0,0,1-.663-1.308,10.824,10.824,0,0,1-.141-1.8L11.248,1.988c.094.514.2.984.262,1.46A2.188,2.188,0,0,0,12.533,5.3" transform="translate(0 0)" fill="#672567" />
                        <path id="Path_2" data-name="Path 2" d="M27,107.077a4.778,4.778,0,0,1,.474-.758c.46-.5.94-.99,1.441-1.45,1.142-1.05,2.063-1.025,3.183.056a2.339,2.339,0,0,1,.116,3.484.5.5,0,0,1-.119.107,5.065,5.065,0,0,1-3.831.472,1.679,1.679,0,0,1-1.167-1.846l-.1-.065" transform="translate(-22.66 -87.351)" fill="#672567" />
                        <path id="Path_3" data-name="Path 3" d="M161.629,86.523c.15-1.351.5-2.268,1.581-2.666a2.813,2.813,0,0,1,2.314.323,3.281,3.281,0,0,1,.842.662,1.634,1.634,0,0,1,.115,2.227,3.088,3.088,0,0,1-3.138,1.3c-.8-.238-1.834-1.194-1.714-1.847" transform="translate(-135.62 -70.256)" fill="#672567" />
                        <path id="Path_4" data-name="Path 4" d="M128.318,123.685c-.169-.12-.3-.2-.426-.307a3.5,3.5,0,0,1-.273-.284c.473-.561.8-.65,1.429-.31a2.7,2.7,0,0,1,1.533,2.2,1.49,1.49,0,0,1-1.321,1.783,10.968,10.968,0,0,1-1.948.179,1.723,1.723,0,0,1-1.537-1.747.853.853,0,0,1,.262-.471,4.616,4.616,0,0,1,2.281-1.044" transform="translate(-105.536 -102.865)" fill="#672567" />
                        <path id="Path_5" data-name="Path 5" d="M34.559,45.7c.141-.579.248-1.17.432-1.736a1.71,1.71,0,0,1,2.236-.918,3.594,3.594,0,0,1,1.5,1.233,1.321,1.321,0,0,1,.155,1.3,3.864,3.864,0,0,1-1.144,1.619,2.053,2.053,0,0,1-2.642-.088,1.984,1.984,0,0,1-.538-1.409m2.39.839a13.131,13.131,0,0,0,.78-1.262.783.783,0,0,0-.092-.611c-.039-.07-.379-.076-.483.009a1.372,1.372,0,0,0-.206,1.863" transform="translate(-28.999 -36.008)" fill="#672567" />
                        <path id="Path_6" data-name="Path 6" d="M89.952,81.19a2.134,2.134,0,0,1,1.906-2.2,2.251,2.251,0,0,1,2.064,1.893,2.411,2.411,0,0,1-2.152,2.3,1.89,1.89,0,0,1-1.818-2" transform="translate(-75.481 -66.285)" fill="#672567" />
                        <path id="Path_7" data-name="Path 7" d="M18.1,83.563c-.294.28-.518.521-.77.729-.368.3-.768.569-1.13.879a2.691,2.691,0,0,1-2.5.64,3.051,3.051,0,0,0-2.146.137,3.315,3.315,0,0,1-.689.175,1.122,1.122,0,0,1,.877-1.377,3.355,3.355,0,0,1,1.216-.1,6.87,6.87,0,0,0,2.231.032,2.091,2.091,0,0,0,1.267-.708c.428-.56.971-.487,1.64-.41" transform="translate(-9.09 -70.076)" fill="#672567" />
                        <path id="Path_8" data-name="Path 8" d="M83.249,125.188a1.131,1.131,0,0,1-1.29.09c-.379-.247-.811-.417-1.168-.69a2.492,2.492,0,0,1-1-2.046,3.069,3.069,0,0,1-.67.322.659.659,0,0,1-.546-.114c-.164-.193.028-.361.208-.47.148-.09.3-.174.452-.255.808-.427,1.239-.251,1.461.684a2.491,2.491,0,0,0,1.748,1.93,4.049,4.049,0,0,1,.808.549" transform="translate(-65.879 -102.21)" fill="#672567" />
                        <path id="Path_9" data-name="Path 9" d="M124.735,89.781c-.777-.3-1.524-.582-2.263-.881a.456.456,0,0,1-.26-.259c-.014-.067.13-.2.231-.256a1.535,1.535,0,0,1,2.292,1.4" transform="translate(-102.551 -73.998)" fill="#672567" />
                        <path id="Path_10" data-name="Path 10" d="M139.231,161.6l-1.843.889c.008-.4-.185-.725.157-.934a1.231,1.231,0,0,1,1.685.045" transform="translate(-115.247 -135.304)" fill="#672567" />
                        <path id="Path_11" data-name="Path 11" d="M86.062,46.909c-.12-.845.023-1.122.746-1.431.073-.031.2-.056.238-.019a.335.335,0,0,1,.1.27,1.613,1.613,0,0,1-1.08,1.18" transform="translate(-72.185 -38.131)" fill="#672567" />
                        <path id="Path_12" data-name="Path 12" d="M168.535,143.3l-.621-.246.506-1.107.53.207-.415,1.146" transform="translate(-140.901 -119.112)" fill="#672567" />
                      </g>
                    </svg>
                    <span class="total">0</span>
                  </a>
                </li>
              </div>
            </div>
          </div>
        </div>
      </header>
<!-- /header -->

<!-- navigation -->
      <nav id="main-navigation">
        <div class="scrollable-content">
          <div class="container">
            <div class="row">
              <div class="col-md-7 column mb-md-0">
                <h2 class="display-2">
                  {{ section.settings.menu-heading }} </h2>
                <ul class="menu">
                  {% assign i=1 %}
                  {% for link in section.settings.menu.links %}
                    <li><a href="{{ link.url }}" data-tag="image{{ i }}">{{ link.title }}</a></li>
                    {% assign i = i | plus: 1 %}
                  {% endfor %}
                </ul>
              </div>
              <div class="col-md-5">
                <div class="menu-images">
                  {% assign i=1 %}
                  {% for block in section.blocks %}
                    {% case block.type %}
                      {% when 'image' %}
                        <div id="image{{ i }}" class="image {% if i==1 %}active{% else %}d-none{% endif %}">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1057 902" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                              <pattern id="bias{{ i }}" height="100%" width="100%" patternContentUnits="objectBoundingBox" viewBox="0 0 1 1" preserveAspectRatio="xMidYMid slice">
                                <image height="1" width="1" preserveAspectRatio="xMidYMid slice" href="{{ block.settings.block-image | image_url }}"></image>
                              </pattern>
                            </defs>
                            <path fill="url(#bias{{ i }})">
                              <animate repeatCount="indefinite" attributeName="d" dur="7s" values="M86.2,602.27C37.81,560.28,39,473.1,57.41,415.51c19.2-60,52.39-71.18,120.37-146.76,122.38-135.17,92.38-183.56,172-230.35C438.53-14,554.1.41,628.09,32c72.38,31.19,62.78,61.19,173.16,132.77C916.42,240,950,222,988,276.35c62.38,89.18,25.59,213.15,17.59,240.74-13.19,44.79-28.39,95.58-74,128-65.19,46-118,2.8-194.36,44-64.78,34.8-50.39,78.79-112.77,132.78C533.71,900.61,369.34,924.6,305,860.62c-60.79-60.39,1.2-166.77-66.39-219.55C188.18,602.27,135,645.06,86.2,602.27Z;	
                                
                                M147.84,560.24c-25.91-75.2-65-73.08-87.95-136-34-93,3-232,88-285.09,82.85-52.26,139.36,23.37,287.64-14.45C548.07,95.85,547.22,44.44,666.19,16.83c51-11.9,175.89-40.79,255.77,28,80.72,69.68,70.95,201.81,68,245.15-7.22,96.87-43.76,108.34-39.94,197.14,4.25,95.6,47.59,109.62,38.66,181-9.34,74.77-69.25,159.32-142.33,173.34-93.47,17.42-124.91-95.17-233.25-96-131.71-.85-173.35,165.7-290.19,151.68-73.5-8.5-136.81-84.12-158.48-147.85C138.92,676.23,176.73,643.94,147.84,560.24Z;
                                
                                M86.2,602.27C37.81,560.28,39,473.1,57.41,415.51c19.2-60,52.39-71.18,120.37-146.76,122.38-135.17,92.38-183.56,172-230.35C438.53-14,554.1.41,628.09,32c72.38,31.19,62.78,61.19,173.16,132.77C916.42,240,950,222,988,276.35c62.38,89.18,25.59,213.15,17.59,240.74-13.19,44.79-28.39,95.58-74,128-65.19,46-118,2.8-194.36,44-64.78,34.8-50.39,78.79-112.77,132.78C533.71,900.61,369.34,924.6,305,860.62c-60.79-60.39,1.2-166.77-66.39-219.55C188.18,602.27,135,645.06,86.2,602.27Z"></animate>
                            </path>
                          </svg>
                        </div>
                      {% assign i = i | plus: 1 %}
                    {% endcase %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
<!-- /navigation -->


{% schema %}
  {
    "name": "Header",
    "settings": [
		{
          "id": "menu-heading",
          "type": "html",
          "label": "Title"
        },
		{
          "id": "menu-image",
          "type": "image_picker",
          "label": "Image"
        },
		{
          "id": "menu",
          "type": "link_list",
          "label": "Menu"
        }
    ],
    "blocks": [
      {
        "name": "Image",
        "type": "image",
        "settings": [
            {
              "type": "image_picker",
              "id": "block-image",
              "label": "Image"
            }
        ]
      } 
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}