<!-- page head --->
<div id="page-head" class="page-head2 text-white text-center">
  <div class="owl-carousel carousel5">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'banner_slide_block' -%}
          <div class="item">
            <div class="content-wrapper">
              <img class="mx-auto" src="{{ block.settings.slide_image | image_url }}" alt="{{ block.settings.slide_image.alt }}" />
              <p>{{ block.settings.silder_text }}</p>
              <a href="{{ section.settings.banner_button_link }}" class="btn btn-primary">{{ section.settings.banner_button_label }}</a>
            </div>
          <figure class="figure1 cover-img">
            <img class="w-100 h-100" src="{{ section.settings.banner_background_image | image_url }}" alt="{{ section.settings.banner_background_image.alt }}" />
          </figure>
        </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>
<!-- /page head --->

{{ section.settings.banner_background_video_url }}
{%- schema -%}
{
  "name": "Home Banner Section",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "label": "Banner Background Image",
      "id": "banner_background_image"
    },
    {
      "type": "url",
      "label": "Banner Background Video Url",
      "id": "banner_background_video_url"
    },
    {
      "type": "text",
      "label": "Banner Button Label",
      "id": "banner_button_label"
    },
    {
      "type": "url",
      "label": "Banner Button Link",
      "id": "banner_button_link"
    }
  ],
  "blocks": [
    {
      "type": "banner_slide_block",
      "name": "Banner Slide Block",
      "settings": [
        {
          "type": "image_picker",
          "label": "Slide Image",
          "id": "slide_image"
        },
        {
          "type": "textarea",
          "label": "Silder Text",
          "id": "silder_text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Banner Section"
    }
  ]
}
{%- endschema -%}

{%- stylesheet -%}
{%- endstylesheet -%}

{%- javascript -%}
{%- endjavascript -%}