<!-- section -->
<div class="section pb-0">
  <div class="container">
    <div class="owl-carousel carousel1">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'image-carousel' %}
            <div class="item">
              <figure class="figure1">
                <img class="w-100" src="{{ block.settings.carousel-image | image_url }}" alt="img" loading="lazy">
              </figure>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="section find-us bg-primary-light wave1 pb-md-4 pull-top overflow-x-initial">
  <div class="container-fluid px-0">
    <h2 class="display-1 text-white mb-0 skrollable skrollable-between position-relative" data-start="margin-left:-200px;" data-end="margin-left:700px;">
    {% assign i = 1 %}
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'CarouselbottomText' %}
            {% if i != 1 %}
              <span class="cloud1"></span>
            {% endif %}
            {{ block.settings.text1 }}
            <span class="cloud1"></span>
            {{ block.settings.text2 }}
            <span class="cloud1"></span>
            {{ block.settings.text3 }}
            <span class="cloud1"></span>
            {{ block.settings.text4 }}
            {% assign i = i | plus: 1 %}
        {% endcase %}
      {% endfor %}
    </h2>
  </div>
</div>
<!-- /section -->
  {% schema %}
  {
    "name" : "Image Carousel Section",
    "blocks": [
        {
            "name": "Image",
            "type": "image-carousel",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "carousel-image",
                    "label": "Select Image"
                }
            ]
        },
        {
          "name": "Carousel Bottom Text",
          "type": "CarouselbottomText",
          "settings": [
            {
              "type": "text",
              "id": "text1",
              "label": "Enter Text",
              "default": "Come find us!"
            },
            {
              "type": "text",
              "id": "text2",
              "label": "Enter Text",
              "default": "warm,"
            },
            {
              "type": "text",
              "id": "text3",
              "label": "Enter Text",
              "default": "gooey,"
            },
            {
              "type": "text",
              "id": "text4",
              "label": "Enter Text",
              "default": "freshly backed"
            }
          ]
        }
    ]
}
{% endschema %}