{% comment %} <h2>Your Cart</h2>
<table>
<thead>
<tr>
<th>Product</th>
<th>Quantity</th>
<th>Price</th>
</tr>
</thead>
<tbody>
{% for item in cart.items %}
<tr>
<td>{{ item.title }}</td>
<td>{{ item.quantity }}</td>
<td>{{ item.price | money }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<p>Subtotal: {{ cart.total_price | money }}</p>
<a href="/checkout" class="button">Proceed to Checkout</a> {% endcomment %}
{% comment %} <main>
  <section class="cart">
    <h1>Shopping Cart</h1>
    <form
      action="/cart"
      method="post"
      novalidate>
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <!-- Loop through cart items and display them here -->
          {% for item in cart.items %}
            <tr>
              <td>{{ item.product.title }}</td>
              <td>{{ item.price | money }}</td>
              <td>
                <input
                  type="number"
                  class="quantity"
                  name="item-quantity"
                  id="updates_{{ item.id }}"
                  value="{{ item.quantity }}"
                  min="0"
                  data-product-id="{{ item.product.variants.first.id }}">
              </td>
              <td>{{ item.line_price | money }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="cart-summary">
        <p>Subtotal: {{ cart.total_price | money }}</p>
        <button type="submit" name="update">Update Cart</button>
        <button type="submit" name="checkout">Proceed to Checkout</button>
      </div>
    </form>
  </section>
</main> {% endcomment %}

<!-- content -->
<div id="content">
  <!-- section -->
  <div class="section">
    <div class="container">
      {%- if cart.empty? -%}
      <!-- empty cart -->
      <div class="cart-warning text-center">
        <h1 class="mb-4">Your cart is empty.</h1>
        <a href="/collections" class="btn btn-primary">Continue shopping</a>
      </div>
      <!-- empty cart -->
      {%- else -%}
      <div class="cart-warpper">
      <div class="d-sm-flex justify-content-between align-items-end mb-4 mb-lg-5">
        <h2 class="mb-0 h1">Your cart</h2>
        <a href="/collections" class="continue-shopping">Continue shopping</a>
      </div>
      <form action="#">
        <div class="row cart-heading">
          <div class="col-lg-8 col-md-7 col-6">
            <span>Product</span>
          </div>
          <div class="col-lg-4 col-md-5 col-6">
            <div class="row">
              <div class="col-6 d-md-block d-none">
                <span>Quantity</span>
              </div>
              <div class="col-12 col-md-6 text-end">
                <span>Total</span>
              </div>
            </div>
          </div>
        </div>
        <div class="cart-items-wrapper">
          <!-- Loop through cart items and display them here -->
          {% for item in cart.items %}
            {% if item.product.available == false %}
              {% assign disable_cart_btn = true %}
            {% endif %}
          <div class="cart-item row">
            <div class="col-md-2 col-4 cart-media">
              <a href="#"><img src="{{ item.product.featured_media | img_url: 'master' }}" alt="image"></a>
            </div>
            <div class="col-lg-6 col-5  col-md-5 ps-md-4 ps-lg-5">
              <a href="#">
                <p>{{ item.product.title }}</p>
              </a>
              <span class="product-price">{{ item.price | money }}</span>
              {% if item.product.available == false %}<p class="error">Sold Out </p>{% endif %}
              <div class="quantity d-md-none">
                <div class="counter">
                  <input type="button" value="-" class="minus">
                  <input type="text" value="{{ item.quantity }}" min="0" class="qty" data-product-id="{{ item.key}}" max="100">
                  <input type="button" value="+" class="plus">
                </div>
                <i class="remove-cart">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" focusable="false"
                    role="presentation" class="icon icon-remove">
                    <path
                      d="M14 3h-3.53a3.07 3.07 0 00-.6-1.65C9.44.82 8.8.5 8 .5s-1.44.32-1.87.85A3.06 3.06 0 005.53 3H2a.5.5 0 000 1h1.25v10c0 .28.22.5.5.5h8.5a.5.5 0 00.5-.5V4H14a.5.5 0 000-1zM6.91 1.98c.23-.29.58-.48 1.09-.48s.85.19 1.09.48c.2.24.3.6.36 1.02h-2.9c.05-.42.17-.78.36-1.02zm4.84 11.52h-7.5V4h7.5v9.5z"
                      fill="currentColor"></path>
                    <path
                      d="M6.55 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5zM9.45 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5z"
                      fill="currentColor"></path>
                  </svg>
                </i>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 d-md-block d-none">
              <div class="quantity">
                <div class="counter">
                  <input type="button" value="-" class="minus">
                  <input type="text" value="{{ item.quantity }}" min="0" class="qty" data-product-id="{{ item.key }}">
                  <input type="button" value="+" class="plus">
                </div>
                <i class="remove-cart" data-product-id="{{ item.key }}">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" focusable="false"
                    role="presentation" class="icon icon-remove">
                    <path
                      d="M14 3h-3.53a3.07 3.07 0 00-.6-1.65C9.44.82 8.8.5 8 .5s-1.44.32-1.87.85A3.06 3.06 0 005.53 3H2a.5.5 0 000 1h1.25v10c0 .28.22.5.5.5h8.5a.5.5 0 00.5-.5V4H14a.5.5 0 000-1zM6.91 1.98c.23-.29.58-.48 1.09-.48s.85.19 1.09.48c.2.24.3.6.36 1.02h-2.9c.05-.42.17-.78.36-1.02zm4.84 11.52h-7.5V4h7.5v9.5z"
                      fill="currentColor"></path>
                    <path
                      d="M6.55 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5zM9.45 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5z"
                      fill="currentColor"></path>
                  </svg>
                </i>
              </div>
            </div>
            <div class="col-md-2 col-3 text-end">
              <p class="total-amount">{{ item.line_price | money }}</p>
            </div>
          </div>
          {%- endfor -%}
        </div>
      </form>
      <div class="cart-footer row">
        <div class="col-md-5">
          <label for="textarea">Order special instruction</label>
          <textarea name="text-field" id="textarea" cols="42" rows="3"></textarea>
        </div>
        <div class="cart-blocks col-md-7 text-center text-lg-end">
          <span class="sub-total">Sub total</span>
          <span>{{ cart.total_price | money }}</span>
          <p>Taxes and shipping calculated at checkout</p>
        <button type="submit" class="btn btn-primary" {% if disable_cart_btn %}{{ 'disabled' }}{% endif %}>Check out</button>
        </div>

      </div>
      </div>
      {%- endif -%}
    </div>
  </div>
<!-- /section -->
</div>
<!-- /content -->