<!--
<footer>
  <div class="row">
    <input type="hidden" id="product-variation-id" value="{{ product.variants.first.id }}" />
    <div class="col-lg-6">
      {% comment %} <form method="post" action="/cart/add"> {% endcomment %}
      <button
        type="submit"
        class="btn btn-outline-primary w-100 mb-3 add-to-cart"
        data-product-id="{{ product.variants.first.id }}">Add to cart</button>
      {% comment %} </form> {% endcomment %}
    </div>
    <div class="col-lg-6">
      <a
        href="#"
        class="btn btn-primary w-100 mb-3"
        id="buy-now-button"
        data-product-id="{{ product.variants.first.id }}">Buy it now</a>
    </div>
  </div>
</footer>
-->

<footer>
  <div class="row">
    {% if product.options.size > 1 %}
      {% for option in product.options_with_values %}
        <select name="{{ option.name }}">
          {% for value in option.values %}
            <option value="{{ value }}">{{ value }}</option>
          {% endfor %}
        </select>
      {% endfor %}
    {% endif %}

    {% for variant in product.variants %}
      <div class="col-lg-6">
        <form method="post" action="/cart/add">
          <input type="hidden" name="id" value="{{ variant.id }}">
          <button type="submit" class="btn btn-outline-primary w-100 mb-3 add-to-cart" data-product-id="{{ variant.id }}">Add to cart</button>
        </form>
      </div>
      <div class="col-lg-6">
        <a href="#" class="btn btn-primary w-100 mb-3 buy-now-button" data-product-id="{{ variant.id }}">Buy it now</a>
      </div>
    {% endfor %}
  </div>
</footer>
{% schema %}
  {
    "name": "Product Main Section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}