<!--
<footer>
  <div class="row">
    <input type="hidden" id="product-variation-id" value="{{ product.variants.first.id }}" />
    <div class="col-lg-6">
      {% comment %} <form method="post" action="/cart/add"> {% endcomment %}
      <button
        type="submit"
        class="btn btn-outline-primary w-100 mb-3 add-to-cart"
        data-product-id="{{ product.variants.first.id }}">Add to cart</button>
      {% comment %} </form> {% endcomment %}
    </div>
    <div class="col-lg-6">
      <a
        href="#"
        class="btn btn-primary w-100 mb-3"
        id="buy-now-button"
        data-product-id="{{ product.variants.first.id }}">Buy it now</a>
    </div>
  </div>
</footer>
-->

<footer>
  <div class="row">
    {% if product.options.size >= 1 %}
      {% for option in product.options_with_values %}
        <label>{{ option.name }}</label>
        <div>
          {% for value in option.values %}
            <input type="radio"
                   name="{{ option.name | handle }}"
                   value="{{ value }}"
                   data-option="{{ option.name }}"
                   data-value="{{ value }}"
                   {% if forloop.first %} checked="checked"{% endif %}>
            {{ value }}
          {% endfor %}
        </div>
      {% endfor %}
    {% endif %}

    <div class="col-lg-6">
      <form method="post" action="/cart/add">
        <input type="hidden" id="selected-variant-id" name="id" value="{{ product.variants.first.id }}">
        <button type="submit" class="btn btn-outline-primary w-100 mb-3 add-to-cart" data-product-id="{{ product.variants.first.id }}">Add to cart</button>
      </form>
    </div>
    <div class="col-lg-6">
      <a href="#" class="btn btn-primary w-100 mb-3 buy-now-button" data-product-id="{{ product.variants.first.id }}">Buy it now</a>
    </div>
  </div>
</footer>


{% schema %}
  {
    "name": "Product Main Section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  <script>
  document.addEventListener('change', function (event) {
    if (event.target.type === 'radio' && event.target.name !== 'id') {
      updateSelectedVariant();
    }
  });
  
  function updateSelectedVariant() {
    var selectedOption = document.querySelector('input[name="pick-an-amount"]:checked').value;
    var variantMatches = false;
    var selectedVariantId = null;
    
    {% for variant in product.variants %}
      if (selectedOption === "{{ variant.title }}") {
        selectedVariantId = "{{ variant.id }}";
        variantMatches = true;
        {% break %}
      }
    {% endfor %}
  }
  
  updateSelectedVariant();
</script>
{% endjavascript %}