                <div class="tab-content" id="myTabContent">
                  {% assign i = 1 %}
                  {% for block in section.blocks %}
                    {% case block.type %}
                      {% when 'main-content-section' %}
                        {% assign menu_title = block.settings.content-for %}
                          {% assign menu_title = menu_title | downcase | replace: " ", "-"  %}
                       <div class="tab-pane fade show {% if i == 1 %} active {% endif %} {% increment i %}" id="{{ menu_title }}" role="tabpanel" aria-labelledby="{{ menu_title }}-tab">
                          <h5>{{ block.settings.content-sub-heading }}</h5>
                              {{ block.settings.content }}
                          <p>{{ block.settings.download-pack-title }}</p>
                          <div class="download-options">
                            <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Famous Five Pack</a>
                            <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Special Edition Pack</a>
                            <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Chocoholics Pack</a>
                            <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Vegan BIY Pack</a>
                          </div>
                          <h5>{{ block.settings.baking-tips }}</h5>
                          <ol class="list5">
                            <li>Make sure you use baking paper when cooking</li>
                            <li>Ensure your oven is completely preheated before beginning to bake</li>
                            <li>It is a good idea to chill your baking tray before baking - your cookie dough should also be chilled</li>
                            <li>Once the cookie dough is slightly golden brown (usually after 8-9 minutes), remove it from the oven. You can use a large spatula to push on the 4 sides to prevent it expanding too much, and to help it keep its ‘square shape’.</li>
                            <li>Gently (very gently) wriggle the spatula completely under the cookie dough, before transferring to a plate to decorate & EAT! </li>
                          </ol>
                        </div> 
                    {% endcase %}
                {% endfor %}
              </div>
              
{% schema %}
  {
    "name": "Menu Content",
    "settings": [],
    "blocks": [
      {
        "name": "Main Content Section",
        "type": "main-content-section",
        "settings": [
          {
            "type": "text",
            "id": "content-for",
            "label": "Menu Name",
            "info": "Enter Menu name which this content belongs"
          },
          {
            "type": "text",
            "id": "content-sub-heading",
            "label": "Content Sub Heading",
            "default": "Soft on the inside, crispy on the outside…"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "content",
            "default": "<p>Our Cookie Dough is made with the finest quality ingredients, a special recipe invented by our founders who know their food science! Although you need to bake the Cookie Dough, it always remains soft on the inside and crispy on the outside. They’re not Cookies, so get your spoons ready to indulge in the ultimate Cookie Dough treat 🥄🥄🥄 </p>"
          },
          {
            "type": "text",
            "id": "download-pack-title",
            "label": "BIY Download Pack Title",
            "default": "HERE ARE THE INSTRUCTIONAL LEAFLETS FOR OUR BIY PACKS:"
          },
          {
            "type": "text",
            "id": "baking-tips",
            "label": "Baking Tips Title",
            "default": "Tips for baking MyCookieDough like a pro:"
          }
        ]
      },
      {
        "name": "Download BIY pack",
        "type": "download-biy-pack",
        "settings": [
          {
            "type": "text",
            "id": "pack-name",
            "label": "Enter Pack Name"
          }
        ]
      },
      {
        "name": "Baking Tips",
        "type": "baking-tips",
        "settings": [
          {
            "type": "text",
            "id": "tip-content",
            "label": "Baking Tip Content"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}