        <div class="section how-we-bake">
          <div class="container">
            <header>
              <h2>{{ section.settings.how-to-bake-it-title }}</h2>
            </header>
            <div class="tabs1 alt media-group">
              <div class="tab-header d-md-none">
                <span class="title"> Menu </span>
                <i class="fa fa-bars" aria-hidden="true"></i>
              </div>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for block in section.blocks %}
                  {% case block.type %}
                    {% when 'menu' %}
                    {% assign menu_title = block.settings.menu-title %}
                      {% assign menu_title = menu_title | downcase | replace: " ", "-" %}
                      <li class="nav-item" role="presentation">
                        <button class="active" id="{{ menu_title }}-tab" data-bs-toggle="tab" data-bs-target="#{{ menu_title }}" type="button" role="tab" aria-controls="{{ menu_title }}" aria-selected="true">{{ block.settings.menu-title }}</button>
                      </li>
                    {% endcase %}
                  {% endfor %}
              </ul>
              {% section "how-to-bake-it-menu-content" %}
              </div>
            </div>
          </div>
        </div>
        
{% schema %}
  {
    "name": "Bake it Menu",
    "settings": [
      {
        "type": "text",
        "id": "how-to-bake-it-title",
        "label": "Title",
        "default": "How to bake it"
      }
    ],
    "blocks": [
      {
      "name": "Menu",
      "type": "menu",
      "settings": [
        {
        "type": "text",
        "id": "menu-title",
        "label": "Menu Title"
      }
      ]
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}