{% comment %}<div id="generated-article-liquid">

<!-- Article -->
<div class="article">
  <h2 class="article-title">{{ article.title }}</h2>
  <p class="article-details">posted <span class="article-time">{{ article.created_at | date: "%Y %h" }}</span> by <span class="article-author">{{ article.author }}</span></p>

  <div class="article-body textile">
    {{ article.content }}
  </div>    

</div>
<!-- END Article -->

<!-- Comments -->
{% if blog.comments_enabled? %}
<div id="comments">
  <h3>Comments</h3>
  
  <!-- List all comments -->
  <ul id="comment-list">
  {% for comment in article.comments %}
    <li>
      <div class="comment">
        {{ comment.content }}
      </div>
      
  	  <div class="comment-details">
  		  Posted by <span class="comment-author">{{ comment.author }}</span> on <span class="comment-date">{{ comment.created_at | date: "%B %d, %Y" }}</span>
      </div>
  	</li>
  {% endfor %}
  </ul>
  
  <!-- Comment Form -->
  <div id="comment-form">
  {% form article %}
    <h3>Leave a comment</h3>
    
    <!-- Check if a comment has been submitted in the last request, and if yes display an appropriate message -->
    {% if form.posted_successfully? %}
      {% if blog.moderated? %}
        <div class="notice">
          Successfully posted your comment.<br />
          It will have to be approved by the blog owner first before showing up.
        </div>
      {% else %}
        <div class="notice">Successfully posted your comment.</div>
      {% endif %}
    {% endif %}
    
    {% if form.errors %}
      <div class="notice error">Not all the fields have been filled out correctly!</div>
    {% endif %}
    
    <dl>
      <dt class="{% if form.errors contains 'author' %}error{% endif %}"><label for="comment_author">Your name</label></dt>
      <dd><input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" class="{% if form.errors contains 'author' %}input-error{% endif %}" /></dd>

      <dt class="{% if form.errors contains 'email' %}error{% endif %}"><label for="comment_email">Your email</label></dt>
      <dd><input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" class="{% if form.errors contains 'email' %}input-error{% endif %}" /></dd>

      <dt class="{% if form.errors contains 'body' %}error{% endif %}"><label for="comment_body">Your comment</label></dt>
      <dd><textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="{% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea></dd>
    </dl>
    
    {% if blog.moderated? %}
      <p class="hint">comments have to be approved before showing up</p>
    {% endif %}    

    <input type="submit" value="Post comment" id="comment-submit" />
  {% endform %}
  </div>
  <!-- END Comment Form -->
  
</div>
{% endif %}
<!-- END Comments -->

</div> {% endcomment %}

<!-- page head --->
      <div id="page-head" class="page-head2 text-white pb-5 pb-lg-7">
        <div class="container">
          <div class="row">
            <div class="col-xl-8">
              <span class="post-date">01 Jan 2022</span>
              <h1 class="h4">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</h1>
            </div>
          </div>
        </div>
        <figure class="figure1 cover-img">
          <img class="w-100" src="images/banner-img2.jpg" alt="img">
        </figure>
      </div>
      <!-- /page head --->
      <!-- content -->
      <div id="content">
        <!-- section -->
        <div class="section news wave1">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <article class="post">
                  <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra adipiscing at in tellus. In fermentum posuere urna nec tincidunt praesent. Et ligula ullamcorper malesuada proin libero nunc consequat. Luctus venenatis lectus magna fringilla urna porttitor. Dictum at tempor commodo ullamcorper. Nulla porttitor massa id neque aliquam. Nulla pellentesque dignissim enim sit amet. Ligula ullamcorper malesuada proin libero. Lobortis mattis aliquam faucibus purus in massa tempor nec. Consequat interdum varius sit amet mattis vulputate. Lectus mauris ultrices eros in cursus. Pulvinar pellentesque habitant morbi tristique senectus et netus et malesuada. A pellentesque sit amet porttitor eget. </p>
                  <p>Nunc scelerisque viverra mauris in aliquam sem fringilla. Vitae proin sagittis nisl rhoncus mattis rhoncus urna. Lectus quam id leo in vitae. Lacinia quis vel eros donec ac odio tempor. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Pulvinar mattis nunc sed blandit libero volutpat sed cras. Metus vulputate eu scelerisque felis imperdiet proin fermentum. Eu scelerisque felis imperdiet proin fermentum. Mauris sit amet massa vitae tortor condimentum lacinia. Duis ut diam quam nulla porttitor massa id neque aliquam. Erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Accumsan in nisl nisi scelerisque. Velit dignissim sodales ut eu sem integer vitae justo.</p>
                  <figure>
                    <img class="w-100" src="images/image20.jpg" alt="img">
                  </figure>
                  <p>Dolor sit amet consectetur adipiscing elit duis tristique. Aliquam vestibulum morbi blandit cursus risus at. Ut diam quam nulla porttitor massa id neque aliquam. Ipsum consequat nisl vel pretium lectus quam id. Non enim praesent elementum facilisis leo vel fringilla. Consequat nisl vel pretium lectus quam id Leo in. Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Urna condimentum mattis pellentesque id. Ultrices tincidunt arcu non sodales neque sodales ut. Eget dolor morbi non arcu risus quis varius quam. Aliquam faucibus purus in massa tempor nec feugiat. Sed adipiscing diam donec adipiscing.</p>
                </article>
              </div>
            </div>
          </div>
        </div>
        <!-- /section -->
        <!-- section -->
        <div class="section news-overview related wave1">
          <div class="container">
            <header class="text-center c-mb-4">
              <h2 class="heading1">Latest news</h2>
            </header>
            <div class="row">
              <div class="col-lg-4 col-md-6 column">
                <article class="post single-post">
                  <figure class="figure1">
                    <img class="w-100" src="images/image17.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <span class="post-date">01 Jan 2022</span>
                    <h2><a href="#">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</a></h2>
                    <p>Since opening our first store in the UK, we have expanded to several countries around the world, and we are looking forward…</p>
                  </div>
                  <footer>
                    <a href="#" class="read-more-btn">Read More</a>
                  </footer>
                </article>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <article class="post single-post">
                  <figure class="figure1">
                    <img class="w-100" src="images/image15.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <span class="post-date">01 Jan 2022</span>
                    <h2><a href="#">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</a></h2>
                    <p>Since opening our first store in the UK, we have expanded to several countries around the world, and we are looking forward…</p>
                  </div>
                  <footer>
                    <a href="#" class="read-more-btn">Read More</a>
                  </footer>
                </article>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <article class="post single-post">
                  <figure class="figure1">
                    <img class="w-100" src="images/image16.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <span class="post-date">01 Jan 2022</span>
                    <h2><a href="#">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</a></h2>
                    <p>Since opening our first store in the UK, we have expanded to several countries around the world, and we are looking forward…</p>
                  </div>
                  <footer>
                    <a href="#" class="read-more-btn">Read More</a>
                  </footer>
                </article>
              </div>
            </div>
          </div>
        </div>
        <!-- /section -->
      </div>
      <!-- /content -->